# Basic Configuration
title: My Blog
description: A simple Jekyll blog hosted on GitHub Pages
author: 邓果垚
email: 741533684@qq.com

baseurl: "" # the subpath of your site, e.g. /blog
url: "https://github.com/rabbitdeng" # the base hostname & protocol for your site
repository: rabbitdeng/rabbitdeng.github.io # GitHub repository in format username/repo-name

# GitHub Pages Configuration
remote_theme: pages-themes/minimal@v0.2.0
plugins:
  - jekyll-remote-theme  # add this line to the plugins list if you already have one
  - jekyll-seo-tag
  - jekyll-sitemap

# Build settings
theme: minima
markdown: kramdown
highlighter: rouge
permalink: /:year/:month/:day/:title/

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Pagination
paginate: 5
paginate_path: "/page:num/"