<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p>&copy; {{ site.time | date: "%Y" }} {{ site.author }}. All rights reserved.</p>
      <ul class="social-links">
        {% if site.github %}
          <li><a href="https://github.com/{{ site.github }}" target="_blank">GitHub</a></li>
        {% endif %}
        {% if site.twitter %}
          <li><a href="https://twitter.com/{{ site.twitter }}" target="_blank">Twitter</a></li>
        {% endif %}
        {% if site.email %}
          <li><a href="mailto:{{ site.email }}">Email</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</footer>